In [1]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
# Use Chrome to scrape the following url
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
# Url for disaster death
url= 'https://ourworldindata.org/ofdacred-international-disaster-data'

# Navigate to url
browser.visit(url)

In [4]:
# List to store common and scientific names for each row of table
cols = []

# Parse HTML with BeautifulSoup
soup = BeautifulSoup(browser.html, 'html.parser')

# Find the table
table = soup.find('table', class_='tablepress')


# Retrieve all rows from tbody
rows = table.tbody.find_all('tr')

# Loop through each row to scrape column data of interest and append to "cols" list
for row in rows:
    col_queries = row.find_all('td')
    col = [row_queries.text for row_queries in col_queries]

    for i in range(1, len(col)):

        col[i] = int(col[i])  
    
    cols.append(col)
print(cols)
# Retrieve row from thead
th_row = table.thead.find('tr')

# grab "th" from "tr"
th_col_queries = th_row.find_all('th')

# Scrape "th" data
th_col = [th_row_queries.text for th_row_queries in th_col_queries]

[['1900s', 130000, 17302, 0, 63, 0, 5, 13, 1801, 4494, 0], ['1910s', 8500, 6280, 0, 10138, 0, 0, 12, 5995, 648, 107], ['1920s', 472400, 54935, 0, 428, 0, 43, 0, 11999, 514, 10], ['1930s', 0, 23770, 169, 436147, 0, 103, 4, 9384, 318, 7], ['1940s', 345000, 16187, 0, 10103, 0, 1753, 0, 12712, 213, 25], ['1950s', 0, 2093, 150, 205830, 0, 215, 0, 3126, 510, 1], ['1960s', 150865, 5236, 113, 3239, 0, 504, 218, 13393, 324, 7], ['1970s', 11908, 44022, 155, 5078, 0, 738, 7, 35734, 53, 1], ['1980s', 55727, 6015, 534, 5155, 0, 623, 127, 4667, 2400, 40], ['1990s', 311, 10359, 932, 9549, 0, 833, 87, 21115, 97, 86], ['2000s', 115, 45364, 9106, 5401, 0, 772, 28, 17213, 24, 63], ['2010s', 3339, 43302, 11644, 5811, 0, 1069, 13, 3177, 71, 52]]

In [5]:
th_col[0] = "Decades"

In [6]:
# Setup a Pandas DataFrame to store scraped data
data_df = pd.DataFrame(columns=th_col)

for i in range(len(th_col)):
    data_df[th_col[i]] = [cols[j][i] for j in range(len(cols))]

# Preview "name_df"
data_df.head()

,Decades,Drought,Earthquake,Extreme temperature,Flood,Impact,Landslide,Mass movement (dry),Storm,Volcanic activity,Wildfire
0,1900s,130000,17302,0,63,0,5,13,1801,4494,0
1,1910s,8500,6280,0,10138,0,0,12,5995,648,107
2,1920s,472400,54935,0,428,0,43,0,11999,514,10
3,1930s,0,23770,169,436147,0,103,4,9384,318,7
4,1940s,345000,16187,0,10103,0,1753,0,12712,213,25

In [7]:
# Close the browser
browser.quit()

In [8]:
# Save df as csv file
data_df.to_csv("death_by_disasters.csv", index=False, header=True)